/* all */
/* #login_wrap #login_wrap main */
#login_wrap main {
    max-width: 460px; margin: 0 auto;
}
#login_wrap main #loginFrm {
    /* border: 1px solid #888; border-radius: 5px; */
}
#login_wrap main #loginFrm fieldset {}
/* 탭 제목 */
#login_wrap main #loginFrm fieldset .login_title {
    display: flex; 
}
#login_wrap main #loginFrm fieldset .login_title h2 {
    width: calc(100% / 3); text-align: center; height: 60px;
    background: #f8f9fa;
    border: 1px solid #ccc; border-radius: 0px;
    display: flex; justify-content: center; align-items: center;
    border-bottom-left-radius:0 ;
    border-bottom-right-radius:0 ;
}
#login_wrap main #loginFrm fieldset .login_title h2:last-child {
    border-top-right-radius:5px ;
}
#login_wrap main #loginFrm fieldset .login_title h2 a {
    width: 100%; line-height: 60px;
}
/* 탭 제목 아이콘 */
#login_wrap main #loginFrm fieldset .login_title h2 a > span:first-child::before,
#login_wrap main #loginFrm fieldset .login_title h2 a > em:first-child::before {
    background-image: url(../images/m_sp_login.png);
    background-size: 251px 210px;
    background-position-x:-231px ;
    content: ''; display: inline-block; width: 16px; height: 16px;
    margin-right: 5px;
    transform: translateY(2px);
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(1) a > span::before {
    background-position-y:-194px ;
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(2) a > span::before {
    background-position-y:-64px ;
}
#login_wrap main #loginFrm fieldset .login_title h2:nth-child(3) a > em::before {
    background-position-y:-119px ;
}
/* 탭 제목 QR코드 */
#login_wrap main #loginFrm fieldset .login_title h2 a > em {}
#login_wrap main #loginFrm fieldset .login_title h2 a:last-child {
    position: relative;
}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup {
    background: #fff; border: 2px solid #03c75a;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px; padding: 4px 10px;
    position: absolute; top: 0; left: 50%; transform: translate(-50%, -21px);
    width: max-content; display: flex;
}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup em {
    color:#03c75a; font-size: 0.625rem;
}
#login_wrap main #loginFrm fieldset .login_title h2 a > .popup .close {
    color: #03c75a; font-size: 0.625rem; margin-left: 5px;
}
/* 탭 내용 */
#login_wrap main #loginFrm fieldset .login_container {
    background-color: #fff;
    position: relative; top: -10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 16px; padding:25px 27px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* 탭 내용 - id, 일회용, qr 공통클레스 */
#login_wrap main #loginFrm fieldset .login_container .login_c {}
/* ID로그인 */
/* ID로그인---아이디, 비밀번호 입력 */
#login_wrap main #loginFrm fieldset .login_container .id_login {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input {
    display: flex; flex-flow: column nowrap;
    border: 1px solid #ccc;
    border-radius: 5px; background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span {
    display: flex;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:first-child{
    border-bottom: 1px solid #ccc;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span input {
    padding: 13px 16px;
    padding-right: 0;
    width: 80%;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input input::placeholder {color: #aaa;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span::before {
    content: ''; display: inline-block; 
    background-image: url(../images/m_sp_login.png); width: 15px; height: 16px;
    background-size: 251px 210px;
    background-position-y:-190px ; 
    position: relative; left: 10px; top: 14px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(1)::before {
    background-position-x:-88px ;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span:nth-child(2)::before {
    background-position-x: -122px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input span #userId {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_input #userPw span {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state {
    display: flex; justify-content: space-between; align-items: center;
    padding: 5px 0;
}
/* ID로그인---로그인 상태유지 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state {
    display: flex; align-items: center;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state input[name*=state]:checked + label::before {
    background-position-y: -156px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .login_state label[for*=state]::before {
    content: ''; display: inline-block;
    background: url(../images/m_sp_login.png) -230px -81px;
    width: 18px; height: 17px;
    background-size: 252px 210px; margin-right: 5px;
}
/* ID로그인---IP보안 */
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .id_state {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .id_state input[name*=state] {display: none;}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .id_state label[for*=state] .txt {}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .id_state label[for*=state] .switch_bg {
    background: #aaa; display: inline-block;
    width: 50px; height:20px ; border-radius: 25px; padding: 2px;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .id_state label[for*=state] .switch_bg .switch {
    background: #fff; width: 16px; height: 16px; display: inline-block;
    border-radius: 50%; transition: transform 0.3s; 
    transform: translateX(0);
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .id_state input[name*=state]:checked + label[for*=state] .switch_bg {
    background: #03c75a;
}
#login_wrap main #loginFrm fieldset .login_container .id_login .id_pw_state .id_state input[name*=state]:checked + label[for*=state] .switch_bg .switch {
    transform: translateX(30px);
}
/* ID로그인---error message */
#login_wrap main #loginFrm fieldset .login_container .id_login .error_message {
    color: #f00; font-size: 0.91rem; padding: 10px 0;
}
/* ID로그인---로그인 버튼 */
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap {}
#login_wrap main #loginFrm fieldset .login_container .id_login .login_btn_wrap #loginBtn {
    width: 100%; background: #03c75a; color:#fff; border-radius: 5px;
    padding: 16px 0; margin-top: 20px;
}
/* 일회용번호 */
#login_wrap main #loginFrm fieldset .login_container .disposable_login {
    text-align: center;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login p {
    font-size: 0.938rem;
    color: #1e1e23;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login p em {
    color: #03c75a; 
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login > p > em > .icon {
    content: ''; display: inline-block;
    background: url(../images/m_sp_login.png) -81px -161px;
    background-size:251px 210px ; width: 16px; height: 16px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login p em i[class*=fa]{
    margin-left: 3px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .center {
    text-align: center; width: 100%; height: 12px;
    margin-bottom: 38px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login .center .icon {
    content: ''; display: inline-block;
    background: url(../images/m_sp_login.png) -186px -47px;
    background-size:251px 210px ; width: 12px; height: 12px;
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login > input {
    border: 1px solid #dadada ; padding: 16px 0;
    border-radius: 5px; text-align: center; width: 100%;
    background: #fff; 
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
#login_wrap main #loginFrm fieldset .login_container .disposable_login > .error_message {}
#login_wrap main #loginFrm fieldset .login_container .disposable_login > #disposableLoginBtn {
    width: 100%; background: #03c75a; color:#fff; border-radius: 5px;
    padding: 16px 0; margin-top: 20px;
}
/* QR코드 */
#login_wrap main #loginFrm fieldset .login_container .qr_login {}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .qr_link {
    display: flex; flex-flow: row nowrap;
    justify-content: center; height: 100px;
    margin-bottom: 20px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .qr_link .left {
    margin-left:45px ;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .qr_link .left img {
    width: 100px; height: 100px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .qr_link .right {
    display: flex; flex-flow: column nowrap;
    justify-content: flex-end;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .qr_link .right p {
    margin-top: 1px; font-size: 0.813rem; font-weight: 600;
    color: #555;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .qr_link .right .time {
    color: #03c75a; font-weight: 600; font-size: 1rem;
    margin-bottom: 4px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  > p {
    text-align: center; padding-top: 5px;
    font-size: 0.875rem; color: #1e1e23;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .naver_app {
    padding: 0; font-size: 0.75rem; color: #666;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .naver_app .icon:nth-of-type(1) {content: ''; display: inline-block;
    background: url(../images/m_sp_login.png) -186px -59px;
    background-size: 251px 210px; width: 12px; height: 12px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .naver_app .icon:nth-of-type(2) {content: ''; display: inline-block;
    background: url(../images/m_sp_login.png) -186px -72px;
    background-size: 251px 210px; width: 12px; height: 12px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .naver_app .icon:last-child {content: ''; display: inline-block;
    background: url(../images/m_sp_login.png) -186px -47px;
    background-size: 251px 210px; width: 12px; height: 12px;
}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .naver_app .icon {}
#login_wrap main #loginFrm fieldset .login_container .qr_login  .naver_app .number {
    background: #000; border-radius: 10px; color: #fff;
    padding: 1px 6px; width: 27px; height: 16px;
    font-size: 0.75rem;
}
/* 찾기 ~ 광고 */
#login_wrap main .search {
    text-align: center;
}
#login_wrap main .search a {}
#login_wrap main .advertising {}
#login_wrap main .advertising a {}
#login_wrap main .advertising a img {width: 100%;}