/* header */
header {}
/* header top */
header .top {
    width: 1151px; height: 48px;
    display: flex;
    flex-flow:row nowrap ;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
header .top nav {}
header .top nav a {
    margin-right: 16px;
    font-size: 0.875rem;
}
header .top nav a:last-child {
    margin-right: 0px;
}
header .top nav a img {}
header .top .lnb {}
header .top .lnb a {
    margin-left: 16px;
    font-size: 0.875rem;
}
header .top .lnb a:first-child {
    margin-left: 0px;
}
/* header botton */
header .bottom {
    width: 1151px; height: 119px;
    margin: 0 auto;
    /* h1, search_frm, right 정렬 대상의 부모 flex 대상 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #search_frm {}
header .bottom #search_frm fieldset {
    width: 370px; height: 47px;
    border: 2px solid #1e6cb3 ;
    background-color: #fff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 13px 0 21px ;
}
header .bottom #search_frm fieldset #user_search {
    width: 300px; outline: none;
}
header .bottom #search_frm fieldset #user_search::placeholder {
    color: #1e6cb3;
}
header .bottom #search_frm fieldset #search_btn {
    width: 24px; height: 24px;
}
header .bottom #search_frm fieldset #search_btn img {}
header .bottom .right {}
header .bottom .right #lang_frm {
    float: right;
}
header .bottom .right #lang_frm fieldset {
}
header .bottom .right #lang_frm fieldset #lang_sele {
    background-color: #fff;
    width: 98px; height: 28px;
    border: 1px solid #1e6cb3;
    font-size: 0.65rem;
    font-weight: 400;
    margin-right; 3px: 
}
header .bottom .right #lang_frm fieldset #lang_sele option {}
header .bottom .right #lang_frm fieldset #go_btn {
    background-color: #1e6cb3;
    color: #fff;
    width: 28px; height: 28px;
}
header .bottom .right .weather {
    clear: both;
}
header .bottom .right .weather .current_weather {
    font-size: 1.2rem;
    font-weight: 700px;
    letter-spacing: -0.024rem;
}
header .bottom .right .weather p {
    font-size: 0.65rem;
    font-weight: 400;
}
/* main 1행 */
/* main 1행-banner */
/* main 1행-right(코로나, 교통정보) */
/* main 2행 */
/* main 2행- 주요서비스 */
/* main 2행- 배너3 */
/* main 2행- 게시판 */
/* main 2행- 게시판-이벤트신청 */
/* main 2행- 게시판-이달행사축제 */
/* main 2행- 게시판-서비스 */
/* main 2행- 게시판-서비스 */
/* footer */
footer {
    background-color: aqua;
    text-align: center;
    width: 1151;
    margin: 0 auto;
}
/* footer 1행 */
footer .top {
    background-color:burlywood;
    width: 1151px; height: 67;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
footer .top .menu {}
footer .top .menu a {
    font-size: 0.8rem;
    border-right:1px solid  ;
    margin-right: 0 0.4px 0 0;
}
footer .top .menu a em {
    font-size: 0.8rem;
}
footer .top .sns {}
footer .top .sns a {
    background-image: url(../images/icon_sns2/seoul_sns.png);
    background-repeat: no-repeat;
    width: 25px; height: 25px;
    text-indent: -9999px;
    display: inline-block;
    text-indent: -9999px;
}
footer .top .sns a:hover {
    background-position-y:-25px ;
}
footer .top .sns a:nth-child(1) {}
footer .top .sns a:nth-child(2) {
    background-position-x:-25px ;
}
footer .top .sns a:nth-child(3) {
    background-position-x:-50px ;
}
footer .top .sns a:nth-child(4) {
    background-position-x:-75px ;
}
footer .top .sns a:nth-child(5) {
    background-position-x:-100px ;
}
footer .top .sns a:nth-child(6) {
    background-position-x:-125px ;
}
/* footer 2행 */
footer .button {
    background-color: darkgray;
    width: 1151px; height: 105px;
    display: flex;
    flex-flow: row no-wrap;
    justify-content: space-between;
}
footer .button .left {
   display: flex;
   flex-flow: row nowrap;
}
footer .button .left p {}
footer .button .left p img {}
footer .button .left address {
    font-size: 0.65rem;
}
footer .button .banner  {}
footer .button .banner a {}
footer .button .banner a img {}